{% extends "base.html" %}

{% block title %}
    Formulário para Nova Categoria
{% endblock %}

{% block content %}
    <header class="header">
        <ul class="header-links">
            <li>
                <a href="{% url 'home-page' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'categories-form' %}">Cadastrar Categorias</a>
            </li>
            <li>
                <form action="{% url 'categories-form' %}" method="post">
                    {% csrf_token %}
                    <!-- <label for="name">Nome</label>
                    <input type="text" name="name" maxlength="200" required> -->
                    {{ form.as_p }}
                    <button type="submit">Salvar</button>
                </form>
            </li>
        </ul>
    </header>
{% endblock %}
