{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
    Página Inicial
{% endblock %}

{% block content %}
    <header class="header">
        <ul class="header-links">
            <li>
                <a href="{% url 'home-page' %}">Home</a>
            </li>
            {% for new in news %}
                <li>
                    <a href="{% url 'news-details-page' new.id %}">
                        <h2 class="news-title">{{ new.title }}</h2>
                        <span class="news-date">{{ new.created_at|date:"d/m/Y" }}</span>
                        {% if new.image %}
                            <img src="{% static new.image.url %}" alt="{{ new.title }}">
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </header>
{% endblock %}
